fail_fast: true

default_language_version:
  python: python3.8

ci:
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit suggestions"
  autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: 1.3.0
    hooks:
      - id: poetry-check
      - id: poetry-lock

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: local
    hooks:
      - id: pyupgrade
        name: pyupgrade - Upgrade Python code
        entry: poetry run pyupgrade --py37-plus
        language: system
        types: [python]
        pass_filenames: true

      - id: black
        name: black - Code Formatting with Black
        entry: poetry run black src tests
        language: system
        types: [python]
        pass_filenames: false

      - id: isort
        name: isort - Code Formatting with isort
        entry: poetry run isort src tests
        language: system
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy - Static Type Checking
        entry: poetry run mypy src tests
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest - Testing the code
        entry: poetry run pytest tests -vv --cov=src
        language: python
        pass_filenames: false
        always_run: true
